body {
    background-color: aquamarine;
}

h1 {
    color: blue;
}

h3 {
    color: blueviolet;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: crimson;
    border-width: 5px;
    width: 5%;
}